div
  class="col-12 col-md-8 m-auto align-center mt-5 border border-black rounded-4"
>
  <div class="d-flex justify-content-between bg-info m-0 p-2 rounded-top-4">
    <h2>{{post.title}}</h2>
    <p>Post created by:
      {{post.user.username}}
      on
      {{format_date post.createdAt}}</p>
  </div>

  <p class="text-center p-3 m-0">{{post.content}}</p>
</div>

{{#each comments as |comment|}}
  <div
    class="col-12 col-md-8 m-auto align-center mt-5 border border-black rounded-4"
  >
    <div class="d-flex justify-content-between bg-info m-0 p-2 rounded-top-4">
      <h2>{{comment.title}}</h2>
      <p>Comment created by:
        {{comment.user.username}}
        on
        {{format_date comment.createdAt}}</p>
    </div>

    <p class="text-center p-3 m-0">{{comment.content}}</p>
  </div>
{{/each}}